<!doctype html>
<html lang="en">

<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Sidebars · Bootstrap v5.1</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
  <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">


  <!-- Bootstrap core CSS -->
  <!-- <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->




  <!-- Custom styles for this template -->
  <!-- <link href="../assets/css/sidebars.css" rel="stylesheet">
</head>  -->
        <%- include('../../includes/head.ejs') %>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .my-custom-scrollbar {
      position: relative;
      height: 200px;
      overflow: auto;
    }

    .table-wrapper-scroll-y {
      display: block;
    }

    .badge {
      position: relative;
      top: -40px;
      left: -10px;
      border-radius: 50%;
      background-color: red;
      font-size: 10px;
    }

    .fa-minus-circle {
      color: red;
    }

    .fa-edit {
      color: rgb(131, 240, 140);
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .center {
        position: absolute;
        display: flex;
        margin: auto;
        width: 60%;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hideform {
        display: none;
    }
  </style>
<body>


  <main>
    <section style="height: 100%;" id="sidebar">
      <%- include("../../includes/sidebar.ejs") %>
 
    </section>

    <section class="main-panel" style="height: 100%; width: 100%;">
     <%- include("../../includes/nav-bar.ejs") %>
    <div class="content">
      <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Create Product
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #221e2f; box-shadow: 0 15px 35px rgba(179, 99, 15, 0.7), 0 5px 15px rgba(60, 8, 62, 0.81);">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px; color: cornsilk;">Create Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="product_form" onsubmit=" return false; ">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="category_id" >Category</label>
                        <select id="category_id" onchange="fetchSub()"name="category_id" class="form-control" >
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="subCategory_id">SubCategory</label>
                      <select id="subCategory_id"  name="subCategory_id" class="form-control">
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Product Name</label>
                      <input type="text" name="name" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Price DH</label>
                      <input type="number" name="price" class="form-control" id="inputprice">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="inputZip">Image</label>
                          <i class="fas fa-upload" style="width: 20px; font-size: 20px;"><input id="img-upload" class="form-control-file"  type="file" name="image" ></i>
                    </div>
                  </div>

                  <button  id="create-btn" class="btn btn-primary">Create</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="width: 100%; height: 400px;">
        <div class="col" style="width: 100%; height: 100%; padding-top: 40px;">
          <div class="card" style="width: 100%; height: fit-content;" >
            <% if (data !==undefined && data ) { %>
              <div class="table-wrapper-scroll-y my-custom-scrollbar"style="width: 100%; height: fit-content;">
                <table class="table">
                  <thead>
                    <tr>

                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Sub-Category</th>
                      <th scope="col">Characteristics</th>
                      <th scope="col">Price</th>
                      <th scope="col">action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i=0; i< data.length; i++) { %>
                      <% console.log(data) %>
                        <tr onclick="">
                          <th aria-valuetext="<%= data[i]._id%>" value="<%= data[i]._id%>">
                            <input type="submit" id="category_id" name="category_id"
                              onclick="getSubCategories('<%= data[i]._id %>')" value="<%= data[i]._id %>"
                              style="background-color: transparent; border: 0px transparent;">
                          </th>
                          <td>
                            <img src="/Public/data/uploads/" alt="">
                          </td>
                      <th scope="col"><%= data[i].name %></th>
                      <th scope="col"><%= data[i].category_id.category_name %></th>
                      <th scope="col"><%= data[i].subCategory_id.subCategory_name%></th>
                      <th scope="col"></th>
                      <th scope="col"><%= data[i].price %></th>
                          <th>
                            <a href=""><button class="fas fa-minus-circle" style="background-color: transparent; border: 0px transparent;" type="button"> </button></a>
                            <a href=""><i class="fas fa-edit"></i></a>
                          </th>
                        </tr>
                        <% console.log(data); } } %>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    </section>



  </main> 
 <%- include('../../includes/scripts.ejs') %>
  <script>
 window.addEventListener('load',
      function(){
        fetch("/Category",{
          method: "GET",
          headers: {
            "Content-Type": "application/json"
          },
        }).then(data=> data.json())
          .then(data=>{
            const arr = data.data
            for(const dt of arr){
              const res =                     
              `<option value="${dt._id}">
                  ${dt.category_name}
              </option>`
              $('#category_id').append(res)
            }
          })

        

      }
    )
    function fetchSub(){

      const _id = $("#category_id").val();
      console.log(_id);
        fetch(`/Adimn/Category/SubCategory/${_id}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json"
          },
        }).then(data => data.json())
          .then(data => {
            $('#subCategory_id').empty()
            const arr = data.sub
            for (const dt of arr) {
              const res =
                `<option value="${dt._id}">
                  ${dt.subCategory_name}
              </option>`
              $('#subCategory_id').append(res)
            }

        })      
    }
    document.getElementById('create-btn').addEventListener('click', 
      function () {
              const dt = $('#product_form').serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
              localStorage.setItem("formData", dt)
              }, {});;
              const img = $('#img-upload').serialize();
              console.log(img)
              console.log(dt);
              const data = fetch('/Admin/Product', {
                method: "POST",
                body: JSON.stringify(dt),
                headers: {
                  "Content-Type": "application/json"
                }
              })
                .then(data => {
                  // $('#msg').append(data)
                  // getCategory();
                  // document.load();
                  console.log({"data": data})
                })
                .catch(err => err)
              location.reload(true)
              return false;
            }
)
           
  </script>
<!-- 
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/sidebars.js"></script> -->

</body>

</html>